@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
fieldset {
  border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  min-height: 100%;
  max-width: 1200px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  margin: 0 auto;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333;
  background-color: #f2f2f2;
}
.header__top {
  display: flex;
  padding: 0 70px 10px 70px;
  height: 64px;
  align-items: center;
  background-color: #fff;
}
.header__link-logo:hover svg {
  fill: rgb(61, 198, 252);
}
.header__link-logo {

  margin-right: 45px;
  z-index: 1;
  align-self: flex-start;
}
.header__navigation {
  display: flex;
}
.navigation__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-top: 10px;
}
.navigation__menu-item {
  position: relative;
}
.navigation__menu-link:hover {
  color: #756257;
}
.navigation__menu-item--active::after {
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  top: 43px;
  background-color: #756257;
  position: absolute;
}
.header__user-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: auto;
  margin-right: 25px;
}
.navigation__menu-link {
  color: #000;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 21px;
}
.user-menu__link {
  position: relative;
}
.user-menu__link:hover svg {
  fill: #756157;
}
.user-menu__link--favorite-decor {
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  position: absolute;
  border-radius: 50%;
  background-color: #7db54f;
  width: 20px;
  height: 20px;
  left: 8px;
  top: -8px;
  padding: 5px 5px 5px 4px;
}
.user-menu__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 32px;
}
.user-menu__btn:hover {
  background: #615048;
}
.user-menu__btn:focus {
  background: #615048;
}
.user-menu__btn:active {
  background: #756157;
}
.header__content {
  position: relative;
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 485px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 82px;
}
.header__content-img--one {
  padding-top: 15px;
  margin-bottom: 11px;
}
.header__content-img--two {
  margin-bottom: 54px;
}
.divider {
  position: absolute;
  bottom: 0;
}
.description {
  background-color: #fff;
}

.description__feauters {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 384px 384px 384px;
}
.feauters__box-img--1 {
  grid-column: 2 / -1;
  justify-self: end;
}
.feauters__box-img--2 {
  grid-column: 1 / 3;
}
.description__box {
  padding-top: 69px;
  background-color: #fff;
  margin-bottom: 90px;
}
.description__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000;
  width: 620px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0 25px;
  margin: 0 auto;
}
.description__subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333;
  text-align: center;
}
.feauters__box {
  width: 400px;
  height: 384px;
}
.feauters__box--one {
  background-color: #82b3d3;
  padding-top: 92px;
  position: relative;
}
.feauters__box--two {
  background: rgba(131, 179, 211, 0.12);
  padding-top: 103px;
  position: relative;
}
.feauters__box--three {
  background: rgba(131, 179, 211, 0.2);
  position: relative;
  padding-top: 103px;
}
.feauters__title--mod {
  width: 171px;
  height: 56px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 30px;
}
.feauters__text--mod {
  width: 230px;
  height: 63px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  padding-top: 30px;
}
.feauters__text--mod::before {
  content: "";
  position: absolute;
  top: 178px;
  right: 170px;
  width: 60px;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
}
.feauters__title {
  width: 175px;
  height: 56px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  color: #000;
  margin-bottom: 30px;
}
.feauters__text {
  width: 230px;
  height: 42px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333;
  margin: 0 auto;
  padding-top: 30px;
}
.feauters__text::before {
  content: "";
  position: absolute;
  top: 189px;
  right: 170px;
  width: 60px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
}
.feauters__advantage {
  display: flex;
}
.feauters__advantage-box--mod {
  background: rgba(131, 179, 211, 0.12);
  padding-top: 182px;
  width: 400px;
  height: 384px;
}
.feauters__advantage-box {
  width: 400px;
  height: 384px;
  padding-top: 182px;
}
.feauters__advantage-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom: 30px;
}
.feauters__advantage-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 250px;
  height: 63px;
  margin: 0 auto;
}
.feauters__advantage-box--one {
  position: relative;
}
.feauters__advantage-box--one::before {
  content: "";
  position: absolute;
  background-image: url(../images/house.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 75px;
  height: 72px;
  top: 80px;
  right: 162px;
}
.feauters__advantage-box--two {
  position: relative;
}
.feauters__advantage-box--two::before {
  content: "";
  position: absolute;
  background-image: url(../images/burger.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 74px;
  height: 70px;
  top: 80px;
  right: 162px;
}
.feauters__advantage-box--three {
  position: relative;
}
.feauters__advantage-box--three::before {
  content: "";
  position: absolute;
  background-image: url(../images/gift.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 64px;
  height: 75px;
  top: 80px;
  right: 162px;
}
.search__inner {
  padding: 96px 0;
  background-color: #fff;
}
.search__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}
.search__text {
  font-size: 22px;
  line-height: 26px;
  width: 592px;
  height: 52px;
  text-align: center;
  color: #333;
  margin: 0 auto;
  margin-top: 20px;
}
.search__button {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  padding: 8px 30px;
  margin: 0 auto;
  margin-top: 54px;
}
.search__button:hover,
.search__button:focus {
  background-color: rgba(97, 80, 72, 1);
}

.search__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(117, 97, 87, 1);
}
.mailing__inner {
  background-image: url(../images/mailing-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 96px 0 104px;
}
.mailing__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}
.mailing__text {
  text-align: center;
  color: #fff;
  padding-top: 20px;
  width: 475px;
  margin: 0 auto;
}
.mailing__form {
  padding-top: 54px;
  display: flex;
  justify-content: center;
}
.mailing__btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  background-color: #82b3d3;
  border: none;
  width: 232px;
  height: 52px;
  border-radius: 0 4px 4px 0;
}
.mailing__btn:hover,
.mailing__btn:focus {
  background-color: rgba(104, 162, 202, 1);
}
.mailing__btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(130, 179, 211, 1);
}
.mailing__input {
  width: 452px;
  height: 52px;
  background: #f2f2f2;
  border: none;
}
.mailing__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  opacity: 0.6;
  padding-left: 20px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
  padding: 0 70px;
  background-color: #fff;
  box-shadow: none;
}
.footer__socials {
  display: flex;
  padding-top: 15px;
}
.footer__phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
.footer__phone:hover,
.footer__phone:focus {
  color: #756157;
}
.footer__phone:active {
  color: rgba(117, 97, 87, 0.3);
}
.footer__socials-logo {
  align-items: baseline;
}
.footer__socials-logo:hover,
.footer__socials-logo:focus {
  fill: #68a2ca;
}
.footer__socials-logo:active {
  fill: #68a2ca;
}
.footer__socials-link {
  width: 48px;
  height: 41px;
}
.footer__htmlacademy-logo:hover,
.footer__htmlacademy-logo:focus {
  fill: #756157;
}
.footer__htmlacademy-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}
.filter__inner {
  background-image: url(../images/filter.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 35px 70px 70px 70px;
}
.filter__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #fff;
}
.breadcrumbs {
  display: flex;
  position: relative;
  gap: 22px;
}
.breadcrumbs__link {
  color: rgba(255, 255, 255, 1);
}
.breadcrumbs__link:hover {
  color: rgba(255, 255, 255, 0.6);
}
.breadcrumbs__link:active {
  color: rgba(255, 255, 255, 0.3);
}
.breadcrumbs__link::after {
  content: "";
  background-image: url(../images/arrow.svg);
  position: absolute;
  width: 8px;
  height: 20px;
  top: 4px;
  left: 22px;
}
.breadcrumbs__parag {
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  padding-top: 3px;
}
.filter__infr-label:hover .filter__check-mark {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
}

.filter__infr-label:hover .filter__infr-span {
  color: rgba(255, 255, 255, 0.6);
}

.filter__infr-label:active .filter__check-mark {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
}

.filter__infr-label:active .filter__infr-span {
  color: rgba(255, 255, 255, 0.3);
}
.filter__content {
  padding-top: 40px;
}
.filter__form {
  display: flex;
  gap: 167px;
}
.filter__content-left {
  display: flex;
  gap: 70px;
}
.filter__legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #fff;
  padding-bottom: 32px;
}
.filter__infr {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.filter__infr-label {
  position: relative;
}
.filter__check-mark {
  position: absolute;
  top: 6px;
  left: 1px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #fff;
}
.filter__check-mark::before {
  content: "";
  position: absolute;
  width: 12.2px;
  height: 9.9px;
  background-image: url(../images/check-mark.svg);
  top: 4px;
  left: 4px;
  opacity: 0;
}
.filter__infr-span {
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  padding-left: 36px;
}
.filter__infr-input {
  display: none;
}
.filter__infr-input:checked + .filter__check-mark::before {
  opacity: 1;
}
.filter__housing {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.filter__housing-label {
  position: relative;
}
.filter__housing-label:hover {
  opacity: 0.6;
}
.filter__housing-checkmark:focus {
  border: 3px solid #83b3d3;
  opacity: 1;
}
.filter__housing-checkmark:active {
  border: 3px solid #83b3d3;
  opacity: 0.6;
}
.filter__housing-checkmark {
  position: absolute;
  top: 6px;
  left: 1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}
.filter__housing-checkmark::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #3f5e72;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.filter__housing-text {
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  padding-left: 36px;
}
.filter__housing-input {
  display: none;
}
.filter__housing-input:checked + .filter__housing-checkmark::before {
  opacity: 1;
}
.filter__right-input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  max-width: 143px;
  padding: 12px 42px 12px 20px;
  background-color: #f2f2f2;
  border: none;
}
.filter__right-wrap {
  position: relative;
}
.filter__right-placeholder {
  position: absolute;
  top: 28%;
  right: 20px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
}
.filter__right-input:hover {
  background: #e6e6e6;
}
.filter__right-input--one:hover {
  border-radius: 4px 0 0 4px;
}
.filter__right-input--two:hover {
  border-radius: 0px 4px 4px 0px;
}
.filter__right-input::placeholder {
  color: rgba(0, 0, 0, 0.64);
}
.filter__right-wrap:hover {
  background-color: rgba(230, 230, 230, 1);
}
.filter__right-input:active {
  box-shadow: 0 0 0 2px rgb(0, 0, 0);
}
.filter__right-input--one {
  border-radius: 4px 0px 0px 4px;
}
.filter__right-input--two {
  border-radius: 0px 4px 4px 0px;
}
.filter__fieldset-right {
  display: grid;
  grid-template-columns: repeat(2, 143px);
  grid-template-rows: 48px;
  column-gap: 2px;
  row-gap: 36px;
}
.filter__range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 270px;
  margin-top: 26px;
  transform: translateX(10px);
}

.filter__range-out {
  position: absolute;
  height: 4px;
  background-color: #fff;
  width: 210px;
}

.filter__range-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
.filter__range-btn:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.filter__range-btn:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.filter__range-btn:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(131, 179, 211, 1);
}
.filter__range-min {
  top: -7px;
  left: -10px;
}

.filter__range-max {
  top: -7px;
  right: -10px;
}
.filter__content-right {
  display: flex;
  gap: 70px;
}
.filter__buttons-submit {
  width: 191px;
  height: 36px;
  border: none;
  color: #fff;
  background: #82b3d3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 56px 0 32px;
}
.filter__buttons-submit:hover {
  background: #68a2ca;
}
.filter__buttons-submit:focus {
  background: #68a2ca;
}
.filter__buttons-submit:active {
  background: #82b3d3;
}
.filter__buttons-reset {
  width: 191px;
  height: 36px;
  border: none;
  color: #fff;
  background-color: inherit;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.filter__buttons-reset:hover {
  opacity: 0.6;
}
.filter__buttons-reset:focus {
  border: 3px solid #83b3d3;
}
.filter__buttons-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotels__inner {
  padding: 0 70px;
  background-color: #fff;
}
.hotels__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  padding-right: 180px;
}
.hotels__top {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
  padding-bottom: 40px;
}
.hotels__select {
  font-size: 18px;
  line-height: 21px;
  color: #333;
  width: 292px;
  height: 49px;
  padding: 10px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-family: inherit;
  margin-right: 70px;
  margin-bottom: 15px;
  cursor: pointer;
  appearance: none;
  background: url("../images/select-arrow.svg") right 18px center no-repeat;
}
.hotels__select:hover {
  border: 2px solid #68a2ca;
}
.hotels__select:active {
  border: 2px solid #3f5e72;
}
.hotels__select:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  opacity: 0.3;
}
.hotels__view-list {
  display: flex;
  gap: 8px;
}
.hotels__view-item {
  position: relative;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
}
.hotels__view-svg {
  position: absolute;
  top: 15px;
  left: 14px;
}
.hotels__view-item:hover,
.hotels__view-item:active {
  border: 2px solid #000;
}
.hotels__view-item:focus {
  border: 2px solid #68a2ca;
}
.hotels__view-item--active {
  border: 2px solid #000;
}
.hotels__select {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 292px;
  height: 49px;
}
.hotels__catalog {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: 438px 438px;
  grid-gap: 20px;
  padding-bottom: 40px;
}
.hotels__catalog-item {
  width: 340px;
  height: 438px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}
.hotels__catalog-img {
  margin: 0 auto;
  margin-top: 20px;
}
.holets__catalog-title {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  margin-left: 20px;
  margin: 16px 0 16px 20px;
}
.hotels__catalog-subtitle {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  font-size: 18px;
  line-height: 21px;
  color: #333;
}
.hotels__catalog-buttons {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 36px 36px;
  gap: 16px 20px;
  margin-left: 20px;
  margin-top: 16px;
}
.hotels__catalog-detail {
  border: none;
  background: #756157;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  height: 36px;
}
.hotels__catalog-detail:hover,
.hotels__catalog-detail:focus {
  background: #615048;
}
.hotels__catalog-detail:active {
  background: #756157;
}
.hotels__catalog-favorite {
  border: none;
  background: #82b3d3;
  border-radius: 4px;
  color: #fff;
  width: 140px;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.hotels__catalog-favorite:hover,
.hotels__catalog-favorite:focus {
  background: #68a2ca;
}
.hotels__catalog-favorite:active {
  background: #82b3d3;
}
.hotels__catalog-favorite--add {
  background: #7db54f;
}
.hotels__catalog-favorite--add:hover,
.hotels__catalog-favorite--add:focus {
  background: #6c9e42;
}
.hotels__catalog-favorite--add:active {
  background: #7db54f;
}
.hotels__rating-text {
  width: 140px;
  height: 37px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 8px 22px;
}
.hotels__catalog-stars {
  align-self: center;
  width: 18px;
  height: 17px;
  display: flex;
  gap: 6px;
}
.pagination {
  display: flex;
  gap: 8px;
  box-shadow: none;
  padding-top: 40px;
  border-top: 1px solid #e6e6e6;
}
.pagination__item {
  background: #82b3d3;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  position: relative;
}
.pagination__item:hover,
.pagination__item:focus {
  background: #68a2ca;
}
.pagination__item:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}
.pagination__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 11px;
  left: 23px;
}
.pagination__link--active {
  color: #000;
}
.pagination__item--active {
  background: #f2f2f2;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  position: relative;
}
.pagination__link--two-symb {
  left: 18px;
}
.pagination__dots {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
.subscribe__inner {
  padding: 156px 0 104px;
}
.subscribe__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}
.subscribe__subtitle {
  width: 475px;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  text-align: center;
  color: #333;
  padding: 20px 0 54px;
}
.subscribe__form {
  display: flex;
  justify-content: center;
}
.subscribe__btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  background-color: #82b3d3;
  border: none;
  width: 232px;
  height: 52px;
  border-radius: 0px 4px 4px 0px;
}
.subscribe__btn:hover,
.subscribe__btn:focus {
  background: #68a2ca;
}
.subscribe__btn:active {
  background: #68a2ca;
  color: #fff;
  opacity: 0.3;
}
.subscribe__input {
  width: 452px;
  height: 52px;
  background: #f2f2f2;
  border: none;
}
.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  opacity: 0.6;
  padding-left: 20px;
}
